spring:
  application:
    name: cs_progress
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
    
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    
  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}
    
    # Listener settings
    listener:
      simple:
        acknowledge-mode: auto
        concurrency: 3
        max-concurrency: 10
        prefetch: 10
        default-requeue-rejected: false # Не возвращать в очередь при ошибке
        retry:
          enabled: true
          initial-interval: 2000
          max-attempts: 3
          multiplier: 2
          max-interval: 10000
#    queue:
#      lesson-viewed: progress.lesson.viewed
#      dlx: dlx.progress.lesson.viewed
  
  # Logging
  logging:
    level:
      org.springframework.amqp: DEBUG
      com.example.cs_progress.listener: DEBUG
      com.example.cs_progress.service: DEBUG
    
server:
  port: ${SERVER_PORT}
