spring:
  application:
    name: cs_progress
  
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        
  ai:
    openai:
      enabled: false
    ollama:
      enabled: true
      base-url: http://localhost:11434 # Порт 11434
      chat:
        options:
          model: qwen2.5-coder:7b
  
  # ============= RABBITMQ НАСТРОЙКИ =============
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    virtual-host: /
    
    listener:
      simple:
        message-converter: jackson2JsonMessageConverter
        # Количество параллельных обработчиков
        concurrency: 3
        max-concurrency: 10
        # Количество сообщений, получаемых за раз
        prefetch: 10
        # Автоматическое acknowledge
        acknowledge-mode: auto
        # Retry настройки
        retry:
          enabled: true
          initial-interval: 2000
          max-attempts: 3
          multiplier: 2.0
          max-interval: 10000
  
  # ЛОГИРОВАНИЕ
  logging:
    level:
      # RabbitMQ логи
      org.springframework.amqp: INFO
      org.springframework.amqp.rabbit.retry: DEBUG
      org.springframework.amqp.rabbit.retry.RepublishMessageRecoverer: INFO
      com.rabbitmq.client: WARN
      org.springframework.retry: DEBUG
      
      # Наши логи
      com.example.cs_progress: DEBUG
      com.example.cs_progress.listener: DEBUG
      com.example.cs_progress.service: DEBUG
    
    pattern:
      console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

server:
  port: ${SERVER_PORT:8083}

# Кастомные настройки DLQ
app:
  rabbitmq:
    dlq:
      max-retries: 3
      alert-threshold: 50
      cleanup-hours: 48  # Через 48 часов удалять из DLQ